.main {
    background-color: gray;
}


#name {
    background-color: lightseagreen;
    text-align: center;
    color: white;
}

nav {
    background-color: white;
}

.container {
    background-color: white;
}
footer {
    background-color: black;
}

.footermsg {
    color: white;
    text-align: center;
}