body {
    background-color: #463058;
}


#name {
    text-align: center;
    
}

.nav {
    float: right;
    
}

.container {
    background-color: lightblue;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 0 0 8px 3px lightblue;
}

a {
    color: #815e77;
}

footer {
    background-color: #b19a78;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}


.footermsg {
    color: black;
    text-align: center;
}

img {
    height: 200px;
    width: 250px;
    margin: 5px;
}
.hello {
    float: none;
}