.main {
    background-color: gray;
}


#name {
    background-color: lightseagreen;
    text-align: center;
    color: white;
}

nav {
    background-color: white;
}

.container {
    background-color: white;
}

#img {
    margin: auto;
    width: auto;
    height: auto;

}
.para{
    margin: 10px;
}
footer {
    background-color: black;
}

.footermsg {
    color: white;
    text-align: center;
}